<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={{ url_for('static', filename="icon.png") }} type="image/png">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <title>LimbRevive : : Privacy</title>
</head>
<body>
    <div class="bg-white">
        <div class="mx-auto max-w-7xl py-12 sm:px-6 sm:py-20 lg:px-8">
            <div class="relative isolate overflow-hidden bg-gray-900 px-6 pt-8 pb-12 shadow-2xl sm:rounded-3xl sm:px-10 md:pt-12 lg:flex lg:gap-x-20 lg:px-16 lg:pt-0">
                <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2" style="mask-image: radial-gradient(closest-side, white, transparent); sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0" aria-hidden="true">
                    <circle cx="512" cy="512" r="512" fill="url(#gradient)" fill-opacity="0.7" />
                    <defs>
                        <radialGradient id="gradient">
                            <stop offset="0%" stop-color="#7775D6" />
                            <stop offset="100%" stop-color="#E935C1" />
                        </radialGradient>
                    </defs>
                </svg>
                <div class="mx-auto text-center lg:mx-0 lg:flex-auto lg:py-16 lg:text-left">
                    <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Privacy Policy</h2>
                    <p class="mt-12 text-lg leading-8 text-gray-300">Welcome to LimbRevive, an innovative iOS application designed to help individuals with amputations find relief from phantom limb pain using Augmented Reality (AR) technology. Your privacy is critically important to us. This Privacy Policy outlines how we handle your information and the steps we take to protect it.</p>
                    
                    <h3 class="mt-10 text-xl font-semibold text-white">Information We Do Not Collect</h3>
                    <p class="mt-12 text-lg leading-8 text-gray-300 text-justify">LimbRevive does not collect, store, or share any personal data with third parties. All data you provide is stored locally on your device and is never transmitted to our servers or any third-party servers.</p>
                    
                    <h3 class="mt-10 text-xl font-semibold text-white">Data You Provide</h3>
                    <p class="mt-4 text-lg leading-8 text-gray-300">To enhance your experience, you may provide the following information, which is stored locally on your device using Apple's SwiftData framework:</p>
                    <ul class="mt-4 text-lg leading-8 text-gray-300 list-disc list-inside">
                        <li>Name</li>
                        <li>Age</li>
                        <li>Gender</li>
                        <li>Amputation details (e.g., which leg the amputation is on)</li>
                    </ul>
                    
                    <h3 class="mt-10 text-xl font-semibold text-white">Permissions</h3>
                    <p class="mt-4 text-lg leading-8 text-gray-300">LimbRevive may request the following permissions to provide specific features within the app:</p>
                    <ul class="mt-4 text-lg leading-8 text-gray-300 list-disc list-inside">
                        <li><strong>Microphone and Speech Recognition:</strong> These permissions are required to enable voice commands for controlling the virtual limb. Voice data is processed on your device and is not stored or transmitted.</li>
                        <li><strong>Camera:</strong> This permission is necessary to enable AR services within the application. The camera is used to place the virtual limb in your environment by detecting image tags. No camera data is stored or transmitted.</li>
                    </ul>
                    
                    <h3 class="mt-10 text-xl font-semibold text-white">How We Use Your Data</h3>
                    <p class="mt-4 text-lg leading-8 text-gray-300">All data you provide and permissions you grant are solely used to enhance your user experience within the LimbRevive application. Specifically:</p>
                    <ul class="mt-4 text-lg leading-8 text-gray-300 list-disc list-inside">
                        <li>Your personal data (name, age, gender, amputation details) helps customize the virtual limb and make the application more effective for your needs.</li>
                        <li>Microphone and speech recognition data are used to interpret your voice commands for controlling the virtual limb.</li>
                        <li>Camera data is used to implement AR functionality, allowing the virtual limb to be placed accurately in your environment.</li>
                    </ul>
                    
                    <h3 class="mt-10 text-xl font-semibold text-white">Data Security</h3>
                    <p class="mt-4 text-lg leading-8 text-gray-300">We are committed to ensuring that your data is secure. Since all data is stored locally on your device, it is protected by your device's security measures, such as passcodes and biometric authentication. We recommend that you keep your device secure to protect your data.</p>
                    
                    <h3 class="mt-10 text-xl font-semibold text-white">Changes to This Privacy Policy</h3>
                    <p class="mt-4 text-lg leading-8 text-gray-300">We may update our Privacy Policy from time to time. Any changes will be communicated through an update in the application. You are encouraged to review this Privacy Policy periodically to stay informed about how we are protecting your information.</p>
                    
                    <h3 class="mt-10 text-xl font-semibold text-white">Contact Us</h3>
                    <p class="mt-4 text-lg leading-8 text-gray-300">If you have any questions or concerns about this Privacy Policy or LimbRevive's practices, please contact us at:</p>
                    <p class="mt-4 text-lg leading-8 text-gray-300">Email: support@limbrevive.com</p>
                    
                    <h3 class="mt-10 text-xl font-semibold text-white">Conclusion</h3>
                    <p class="mt-4 text-lg leading-8 text-gray-300">Your privacy is important to us. By using LimbRevive, you consent to the terms outlined in this Privacy Policy. We are dedicated to providing you with a safe and effective application to help manage phantom limb pain while ensuring your data remains private and secure.</p>
                    
                    <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
                        <a href="#" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Get started</a>
                        <a href="#" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-white rounded-lg shadow light:bg-gray-900 m-4">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <img src="icon.png" class="h-8" alt="Flowbite Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-dark">LimbRevive</span>
                </a>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://bit.ly/ineerajrajeev/" class="hover:underline">Neeraj R. Shetkar</a>. All Rights Reserved.</span>
        </div>
    </footer>
</body>
</html>
